
{% extends "base.html" %}

{% block head_title %} Welcome to Adda {% endblock %}



{% block jumbotron %}
<div class="jumbotron">
 <div class="container">
	<div class="row">
		<div class='col-sm-6'>
		<h1>Welcome to Adda</h1>
		<p>We give you informations about NITs, IITs, IIITs , IIMs and many more colleges</p>
		<p>
		<!-- <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
		<button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button> -->
		<a class="btn btn-lg btn-primary" href="" role="button">Let's Explore &raquo;</a>
		</p>
	</div>
</div>
</div>
{% endblock %}


{% block content %}

<div class="container">
	<p>
		<a href="nits">List of NITs</a>
	</p>
	<p>
		<a href="iits">List of IITs</a>
	</p>
</div>

{% endblock %}