{% extends "base.html" %}

{% block head_title %} NITs {% endblock %}


{% block content %}
<ol>

<h1>List of all NITs </h1>

<p>	National Institute of Technology, Agartala	 </p>
<p> Motilal Nehru National Institute of Technology, Allahabad </p>
<p> Maulana Azad National Institute of Technology, Bhopal </p> 
<p> National Institute of Technology, Calicut </p> 
<p> National Institute of Technology, Durgapur</p> 
<p> National Institute of Technology, Hamirpur   </p> 
<p> Malaviya National Institute of Technology, Jaipur	 </p> 
<p> Dr. B.R. Ambedkar National Institute of Technology, Jalandhar	 </p>
<p> National Institute of Technology, Jamshedpur	 </p> 
<p> National Institute of Technology, Kurukshetra </p> 
<p> Visvesvaraya National Institute of Technology, Nagpur	 </p> 
<p> National Institute of Technology, Patna	 </p> 
<p> National Institute of Technology, Raipur </p> 
<p> National Institute of Technology, Rourkela </p> 
<p> National Institute of Technology, Silchar </p> 
<p> National Institute of Technology, Srinagar </p> 
<p> Sardar Vallabhbhai National Institute of Technology, Surat </p> 
<p> National Institute of Technology, Surathkal	 </p> 
<p> National Institute of Technology, Tiruchirapalli </p> 
<p> National Institute of Technology, Warangal	 </p> 
<p> New NITs	</p> 
<p> National Institute of Technology, Sikkim	 </p> 
<p> National Institute of Technology, Goa	 </p> 
<p> National Institute of Technology, Arunachal Pradesh	 </p>
<p> National Institute of Technology, Meghalaya	</p> 
<p> National Institute of Technology, Nagaland	 </p> 
<p> National Institute of Technology, Manipur	 </p> 
<p> National Institute of Technology, Mizoram	 </p> 
<p> National Institute of Technology, Uttarakhand </p>
<p> National Institute of Technology, Delhi	 </p> 
<p> National Institute of Technology, Puducherry </p> 
<p> National Institute of Technology, Andhra Pradesh </p>


</ol>

{% endblock %}